<div class="container text-bg-light p-3">
  <h2>Edit Contact</h2>

  <%= form_with model: @contact do |form| %>
    <div>
      <%= form.label :first_name, :class => 'form-label' %><br>
      <%= form.text_field :first_name, :class => 'form-control form-control-lg' %>
      <% @contact.errors.full_messages_for(:first_name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :last_name, :class => 'form-label' %><br>
      <%= form.text_field :last_name, :class => 'form-control form-control-lg' %>
      <% @contact.errors.full_messages_for(:last_name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :telephone, :class => 'form-label' %><br>
      <%= form.text_field :telephone, :class => 'form-control form-control-lg', :type => 'tel' %>
      <% @contact.errors.full_messages_for(:telephone).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.button "Edit", type: "submit", :class=> "btn btn-primary btn-lg mt-4" %>
    </div>
  <% end %>
</div>

